{% extends 'base.html' %}
    
{% block title %}Registro{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"> 
{% endblock %}

{% block content %}    

<div class="form-container">

    <h1>Registro</h1>

    <form action="" method="post" class="modern-form">
      
        {{ form.csrf_token }}

        <div class="form-field">
            <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
            {{ form.nombre(class="input-field", placeholder="Nombre", required=true) }}
        </div>
        <div class="form-field">
            <label for="{{ form.ape_pat.id_for_label }}">Apellido Paterno:</label>
            {{ form.ape_pat(class="input-field", placeholder="Apellido Paterno", required=true) }}
        </div>
        <div class="form-field">
            <label for="{{ form.ape_mat.id_for_label }}">Apellido Materno:</label>
            {{ form.ape_mat(class="input-field", placeholder="Apellido Materno", required=true) }}
        </div>
        <div class="form-field">
            <label for="{{ form.id_genero.id_for_label }}">Género:</label>   
            {{ form.id_genero(class="input-field", placeholder="Género", required=true) }}
        </div>
        <div class="form-field">
            <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de Nacimiento:</label>  
            {{ form.fecha_nacimiento(class="input-field", placeholder="Fecha de Nacimiento", required=true) }} 
        </div>
        <div class="form-field">
            <label for="{{ form.id_nivelEdu.id_for_label }}">Nivel Educativo:</label>  
            {{ form.id_nivelEdu(class="input-field", placeholder="Nivel Educativo", required=true) }} 
        </div>
        <div class="form-field">
            <label for="{{ form.id_ocupacion.id_for_label }}">Ocupación:</label>  
            {{ form.id_ocupacion(class="input-field", placeholder="Ocupación", required=true) }} 
        </div>
        <div class="form-field">
            <label for="{{ form.ingresos_mensuales.id_for_label }}">Ingresos Mensuales:</label>  
            {{ form.ingresos_mensuales(class="input-field", placeholder="Ingresos Mensuales") }} 
        </div>
        <div class="form-field">
            <label for="{{ form.curp.id_for_label }}">Curp:</label>  
            {{ form.curp(class="input-field", placeholder="Curp", required=true) }} 
        </div>
        <div class="form-field">
            <label for="{{ form.tel_cel.id_for_label }}">Teléfono Celular:</label>  
            {{ form.tel_cel(class="input-field", placeholder="Teléfono Celular", required=true) }} 
        </div>
        <div class="form-field">
            <label for="{{ form.tel_casa.id_for_label }}">Teléfono Casa:</label>  
            {{ form.tel_casa(class="input-field", placeholder="Teléfono Casa") }} 
        </div>
        <div class="form-field">
            <label for="{{ form.email.id_for_label }}">Email:</label>  
            {{ form.email(class="input-field", placeholder="Email", required=true) }} 
        </div>
        <div class="form-field">
            <label for="{{ form.password.id_for_label }}">Password:</label>  
            {{ form.password(class="input-field", placeholder="Password", required=true) }} 
        </div>
        <div>
            <label for="{{ form.password_confirm.id_for_label }}">Password Confirm:</label>  
            {{ form.password_confirm(class="input-field", placeholder="Password Confirm", required=true) }} 
        </div>
        <br>
        <div class="form-field">
            {{ form.submit(class="submit-button") }}
        </div>
    </form>

</div>

{% endblock %}
    