{% extends 'base.html' %}
    
{% block title %}¿Quiénes Somos?{% endblock %}

{% block content %}    
<div class="position-relative overflow-hidden p-3 text-center bg-body-tertiary">
    <h1 class="fw-normal">Préstamos Ortega</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> ¡Bienvenidos al mundo del sistema de Préstamos Ortega! Somos un equipo dedicado a desglosar y presentar cómo funcionan estos sistemas esenciales en el ámbito financiero. Nuestra misión es brindar una visión clara y completa de cómo las personas, las empresas y las organizaciones pueden acceder a fondos para lograr sus objetivos financieros</p>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{{ url_for('static', filename='img/dinero.jpeg') }}" alt="ortegas" class="imagen-ort" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
{% endblock %}
    
