{% extends 'base.html' %}
    
{% block title %}Préstamos{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}"> 
{% endblock %}

{% block content %}    

<div class="position-relative overflow-hidden p-3 text-center bg-body-tertiary">
    <h1 class="fw-normal">Préstamo Estimado</h1> <br>

    <form action="" method="post">
        {{ form.csrf_token }}

        <div>
            {{ form.monto.label }} {{ form.monto() }}
            {% for error in form.monto.errors %}
                <span style="color: red;">{{ error}}</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.periodo.label }} {{ form.periodo() }}
            {% for error in form.periodo.errors %}
                <span style="color: red;">{{ error}}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.modalidad_pago.label }} {{ form.modalidad_pago() }}
            {% for error in form.modalidad_pago.errors %}
                <span style="color: red;">{{ error}}</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>

</div>

{% endblock %}