{% extends 'base.html' %}
    
{% block title %}Estado de Préstamo{% endblock %}

{% block content %}  

    <style>
        .cont {
            max-width: 800px;
            margin: 0 auto;
            padding: 0px;
        }
        .loan-status {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>

<body class="bg-body-tertiary">
    <div class="cont">
        <h1>Estado de Préstamo</h1> 
        <div class="loan-status">
            <h2>Información del Préstamo</h2>
            <p><strong>Monto del Préstamo: </strong>${{ monto }}</p>
            <p><strong>Período: </strong>{{ periodo }}</p>
            <p><strong>Tasa de Interés: </strong>10%</p>
            <p><strong>Modalidad de Pago: </strong>{{ modalidad }}</p>
        </div>
        <div class="loan-status">
            <h2>Estado del Préstamo</h2>
            <p><strong>Estado:</strong> Aprobado</p>
            <p><strong>Saldo Pendiente:</strong> ${{ monto }}</p>
            <p><strong>Próximo Pago:</strong> 1 de septiembre de 2023</p>
        </div>
        <a class="btn btn-primary" href="{{ url_for('loan.pagos')}}" role="button">Pagar</a>
    </div>

</body>

{% endblock %} 
