{% extends 'base.html' %}
    
{% block title %}Pagos{% endblock %}

{% block content %}  

    <style>
        .cont {
            max-width: 800px;
            margin: 0 auto;
            padding: 0px;
        }
        .payment-form {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .payment-form label {
            display: block;
            margin-bottom: 10px;
        }
        .payment-form input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
        }
        .payment-form button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>

<body class="bg-body-tertiary">
    <div class="cont">
        <h1>Realizar Pago</h1>
        <div class="payment-form">
            <form action="/realizar_pago" method="post">
                <label for="monto">Monto del Pago</label>
                <input type="text" id="monto" name="monto" placeholder="Ingrese el monto a pagar">
                
                <label for="numero_tarjeta">Número de Tarjeta</label>
                <input type="text" id="numero_tarjeta" name="numero_tarjeta" placeholder="Ingrese el número de tarjeta">
                
                <label for="fecha_expiracion">Fecha de Expiración</label>
                <input type="text" id="fecha_expiracion" name="fecha_expiracion" placeholder="MM/AA">
                
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="Ingrese el CVV">
                
                <button type="submit">Realizar Pago</button>
            </form>
        </div>
    </div>
</body>

{% endblock %} 